
.producto-card {
  display: flex;
  max-width: 950px;
  margin-top: 150px;
  margin-left: 220px;
  margin-bottom: 100px;
  gap: 80px;
}

.producto-img-grande {
  width: 350px;
  object-fit: cover;
}

.producto-info h1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-top: -5px;
  text-align: left;
  font-size: 40px;
  text-shadow:
    0 0 6px rgba(255, 214, 32, 0.4),
    0 0 18px rgba(255, 214, 32, 0.2);
}

.producto-info h2 {
    margin-bottom: 20px;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}

.producto-info p {
    margin-bottom: 20px;
    display: flex;
    text-align: left;
    margin-left: -3px;
    margin-top: 50px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
}
