header{
  border-bottom: 0.1em solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.producto-card {
  display: flex;
  max-width: 950px;
  margin-top: 150px;
  margin-left: 220px;
  margin-bottom: 100px;
  gap: 80px;
}

.producto-img-grande {
  width: 350px;
  object-fit: cover;
  border: 1px solid black;
}

.producto-info h1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-top: -5px;
  text-align: left;
}

.producto-info h2 {
    margin-bottom: 20px;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
}

.producto-info p {
    margin-bottom: 20px;
    display: flex;
    text-align: left;
    margin-left: -3px;
    margin-top: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
