body{ 
    background-color: black;
      display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.login{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid rgba(255, 214, 32, 0.822);
  margin-top: 100px;
  width: 300px;
  background-color: radial-gradient(circle at top, #111 0%, #000 70%);;
}

.login img{
  margin-top: 10%;
  margin-bottom: 10px;
  margin-top: -90px;
  height: 250px;
}

#loginForm{
  display: flex;
  flex-direction: column;
  width: 250px;
  gap: 30px;
  margin-bottom: 50px;
}

#loginForm input{
  height: 25px;
}

#loginForm button{
    height: 30px;
    background: linear-gradient(135deg, #d4af37, #b8962e);
    border: black;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

#loginForm button:hover{
  transform: translateY(-1px);
  box-shadow: 0 6px 18px rgba(212, 175, 55, 0.35);
}