body{ 
    background-color: lightgray;
}

.login{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 100px;
  background-color: white;
}

.login img{
  margin-top: 10%;
  margin-bottom: 30px;
}

#loginForm{
  display: flex;
  flex-direction: column;
  width: 250px;
  gap: 30px;
  margin-bottom: 50px;
}

#loginForm input{
  height: 25px;
}

#loginForm button{
    height: 30px;
    background-color: black;
    border: black;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

#loginForm button:hover{
    background-color: lightgray;
    color: black;
}